Build started...
Build succeeded.
The Entity Framework tools version '8.0.0' is older than that of the runtime '9.0.0'. Update the tools for the latest features and bug fixes. See https://aka.ms/AAc1fbw for more information.
CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (
    "MigrationId" TEXT NOT NULL CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY,
    "ProductVersion" TEXT NOT NULL
);

BEGIN TRANSACTION;
CREATE TABLE "Microincrements" (
    "Id" INTEGER NOT NULL CONSTRAINT "PK_Microincrements" PRIMARY KEY AUTOINCREMENT,
    "Title" TEXT NOT NULL,
    "Description" TEXT NULL,
    "Date" TEXT NOT NULL,
    "Author" TEXT NOT NULL,
    "ProjectPhaseId" INTEGER NOT NULL,
    "DeliverableId" INTEGER NULL
);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20251126071854_AddMicroincrementsTable', '9.0.0');

ALTER TABLE "Microincrements" ADD "CreatedAt" TEXT NOT NULL DEFAULT '2025-11-26 07:39:27.4164613';

ALTER TABLE "Microincrements" ADD "UpdatedAt" TEXT NULL;

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20251126073309_AddCreatedAtUpdatedAtToMicroincrements', '9.0.0');

COMMIT;


